@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --success-color: #2691d9;
    --error-color: #e74c3c;

}
body{
    height: 100vh;
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 400px;
    border: none;
    border-radius: 10px;
    background: white;
    padding: 40px;
}

.container h1{
    text-align: center;
}

.form__control{
    width: 100%;
    position: relative;
    margin-top: 40px;

}
.form__control input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #adadad;
}

.form__control span{
    position: absolute;
    border-bottom: 3px solid var(--success-color);
    top: 38px;
    left:0;
    width: 0%;
    transition: 0.3s ;
}

.form__control input:focus ~ span{
    width: 100%;
}

.form__control.error small{
    color: var(--error-color);
}
.form__control.error input{
    border:2px solid var(--error-color);
}

.btn__submit{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--success-color);
    margin-top: 30px;
    transition: 0.3s;
}
.btn__submit:hover{
    background: #08609a;
}

.signup__link{
    text-align: center ;
    margin-top: 20px;
}

.signup__link a{
    text-decoration: none;
    color: var(--success-color);
    cursor: pointer;
}

.signup__link a:hover{
    text-decoration: underline;
}